@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) { 

    .top-div img {
        height: 38;
    }

    div.ranking-box > div {
        display: none;
    }

    .table {
        width: 100%;
        margin-left: 0%;
        margin-bottom: 7%;
    }

    #mainNav .navbar-brand {
        color: rgba(255,255,255,.7);

    }

    #mainNav .navbar-nav>li.nav-item>a.nav-link, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
        color: rgba(255,255,255,.7);
    }

    nav > div.container {
        max-width: 84%;
    }
}
