.green {
    color: rgb(83, 179, 120);
}

.red {
    color: rgb(179, 83, 96);
}

.neutral {
    color: rgb(104, 104, 104);
}

.invisible-text {
   color: transparent; 
}

.invisible {
    display: none;
}

#rankings-table_filter {
    display: none;
}

.mleft-0_5em {
    margin-left: 0.5em;
}

.font-0_8em {
    font-size: 0.8em;
}