tr:hover {
    color: #495057; 
    background-color: #e9ecef;
    border-color: #dee2e6;

}

.top-div {
    margin-top: 1em; 
    margin-bottom: 1em; 
    margin-left: 1em; 
    display: block;
}

.top-div img {
    margin-right: 1.5em;
}

.img-disabled {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.35;
    filter: alpha(opacity=35);
}

td i {
    margin-left: 0.5em;
}

.green {
    color: rgb(83, 179, 120);
}

.red {
    color: rgb(179, 83, 96);
}

.neutral {
    color: rgb(144, 144, 144);
}

.invisible-text {
   color: transparent; 
}

.invisible {
    display: none;
}

#rankings-table_filter {
    display: none;
}

.mleft-0_5em {
    margin-left: 0.5em;
}

.font-0_8em {
    font-size: 0.8em;
}

.ranking-box {
    float: left;
}

footer {
    margin-bottom: 2em;
}

td i.neutral.fas.fa-stop {
    font-size: 0.5em;
    margin-left: 1.2em;
}

h3 {
    font-weight: bold;
}